<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Conduit</a>

    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false" class="nav d-flex pull-xs-right">
      <li class="nav-item">
        <a class="nav-link text-success" routerLink="/"> Home </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link text-success"
          routerLink="/login"
          routerLinkActive="active"
        >
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link text-success"
          routerLink="/register"
          routerLinkActive="active"
        >
          Sign up
        </a>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true" class="nav d-flex pull-xs-right">
      <li class="nav-item">
        <a
          class="nav-link text-success"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link text-success"
          routerLink="/editor"
          routerLinkActive="active"
        >
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link text-success"
          routerLink="/settings"
          routerLinkActive="active"
        >
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link text-success"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active"
        >
          <img
            [src]="currentUser.image"
            *ngIf="currentUser.image"
            class="user-pic"
          />
          {{ currentUser.username }}
        </a>
      </li>
    </ul>
  </div>
</nav>
